main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* border: 2px solid green; */
}

a {
    text-decoration: none;
}

.container-main {
    display: flex;
    width: 80vw;
    /* border: 2px solid; */
    justify-content: center;
    /* background-image: url("./img/celular2.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left; */

}

.no-mobile {
    display: none;
}

.box1 {
    display: flex;
    /* border: red 2px solid; */
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px pink solid; */
}

input {
    width: 258px;
    height: 36px;
    border: 1px solid rgb(219, 219, 219);
    padding: 0 8px;
    background-color: #FAFAFA ;
}

button {
    width: 258px;
    height: 32px;
    border-radius: 6px;
    border: none;
    background-color: #77A7FF;
    color: white;
    margin-top: 6px;
}

button:hover {
    background-color: #1877F2;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 66%;
    border: 1px solid rgb(219, 219, 219);
    width: 350px;
    margin-top: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border: 1px solid rgb(219, 219, 219);
}

.baixar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 18%;
    /* border: blue solid 1px; */
}

.baixar div {
    display: flex;
    gap: 20px;
}

.baixar a {
    background-color: black;
    color: white;
    width: 134px;
    height: 40px;
}

.f-14 {
    font-size: 14px;
}

.section-ou {
    display: flex;
    justify-content: space-between;
    width: 258px;
}

.f-13 {
    font-size: 13px;
    color: #737373;
}

.reta {
    border-bottom: 1px solid #DBDBDB;
    width: 106px;
    position: relative;
    bottom: 8px;
}

.f-12 {
    font-size: 12px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    /* border: 2px solid green; */
}

.container-footer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* border: 2px solid; */
    justify-content: space-evenly;
    gap: 10px;
}

.container-footer div {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    color: #737373;
    justify-content: center;
    font-size: 12px;
}

.container-footer a {
    color: #737373;
}